<h2>Ajoutez un film</h2>
<%= simple_form_for [@list, @bookmark] do |f| %>
<%= f.input :comment, placeholder: "Ajoutez un commentaire" %>
<%= f.input :movie_id, collection: Movie.all %>
<%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
